{% load static %}
<head>
    <meta charset="utf-8">
    <title>Tutare</title>
    <link rel="stylesheet" href="{% static '/css/homepage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
</head>
<body>
<div style="text-align: center">
    <img src="{% static '/images/people.png' width=60 %}" id="logo" alt="User Icon"/>
    <h1>Welcome to<br> Tutare!</h1>
    <form method="get" action="about.html"><a href="about" class="button">Begin Tour</a></form>
    <br>
    <form method="get" action="login.html"><a href="{% url 'accounts:login' %}" class="button">Login</a></form>
    <br>
    <form method="get" action="signup.html"><a href="{% url 'accounts:signup' %}" class="button">Sign Up</a></form>
    <br>
</div>
</body>
</html>
