<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <div id=container>
            <form>
                <label for="username">Username</label>
                <input type="text" id="username" name= "username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name= "password" required>
                <input type="checkbox" id="togglepw" onClick="togglePassword()"> Show Password 
                
                <input type="button" id="submit" name="submit" value="Submit" onClick="submitForm()">
                <div id="message"></div>
            </form>
        </div>

        <script type="text/javascript" src="/static/login.js"></script>
    </body>
</html>