
!**/__pycache__/

tutare/tutare/__pycache__/__init__.cpython-38.pyc
tutare/tutare/__pycache__/settings.cpython-38.pyc
tutare/tutare/__pycache__/urls.cpython-38.pyc
tutare/tutare/__pycache__/views.cpython-38.pyc
tutare/tutare/__pycache__/wsgi.cpython-38.pyc
 
.idea/checkstyle-idea.xml
.idea/ckst.iml
.idea/codeStyles/Project.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
tutare/db.sqlite3
tutare/db.sqlite3
tutare/db.sqlite3
.idea/workspace.xml
*.pyc
*.pyc
