# Intellij #
.idea/checkstyle-idea.xml
.idea/ckst.iml
.idea/codeStyles/Project.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

# pycaches #
*.pyc

# db changes #
tutare/db.sqlite3

