{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>User Account</title>
    <link rel="stylesheet" href="{% static '/css/passwordbank.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
</head>
<body>
<h2>Your Accounts:</h2>
<table id="userdata">
    <tr>
        <td>
            <label>Account</label>
        </td>
        <td>
            <label>Password</label>
        </td>
    </tr>
    <tr>
        <td>
            {% if all_accounts %}
            <ul>
                {% for account in all_accounts %}
                <li>{{ account.account }}: {{account.account_password }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <h3>No accounts to display.</h3>
            {% endif %}
        </td>
    </tr>
</table>
<div id="showpass"><input type="checkbox" id="togglepw" onClick="togglePassword()">Show Password</div>
<script type="text/javascript">
    const togglePassword = () => {
        let password = document.getElementById("id_password");

        if (password.type === "password") {
            password.type = "text"
        }
        else {
            password.type = "password"
        }
    }
</script>
</body>
</html>
