{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>User Account</title>
    <link rel="stylesheet" href="{% static '/css/passwordbank.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
</head>
<body>
<ul>
    <li id="image"><img alt="" src="{% static '/images/people.png' %}" width=50px id="logo"/></li>
    <li><a href="{% url 'accounts:userhome' %}">Home</a></li>
    <li><a href="{% url 'accounts:newentry' %}">New Entry</a></li>
    <li><a href="{% url 'contactus:contactus' %}">Contact Us</a></li>
    <li><a href="{% url 'accounts:login' %}">Logout</a></li>
</ul>
<h1>Password List</h1>

<table id="userdata">

    <tr>
        <td>
            <label class="header" for="account">Account</label>
            {% if all_accounts %}
                <ul>
                    {% for account in all_accounts %}
                        <li class=account_name>{{ account.account }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No accounts to display.</h3>
            {% endif %}
        </td>
        <td>
            <label class="header" for="password">Password</label>
            {% if all_accounts %}
                <ul id="password_hide">
                    {% for account in all_accounts %}
                        <li class=password_name>{{ account.account_password }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No accounts to display.</h3>
            {% endif %}
        </td>
    </tr>
</table>
<div style="text-align: center; padding: 5%">
    <button onclick="myFunction()" class="btn draw-border">Click to Show</button>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("password_hide");
        if (x.style.visibility === "visible") {
            x.style.visibility = "hidden";
        } else {
            x.style.visibility = "visible";
        }
    }
</script>
</body>
</html>
