{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>Tutare</title>
        <link rel="stylesheet" href="{% static '/css/homepage.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    </head>
    <body>
        <img src="{% static '/images/people.png' width=60 %}" id="logo" alt="User Icon"/>
    <h1>Welcome to<br> Tutare!</h1>
        <form method="get" action="about.html"><a href="" class="button">Password Bank</a></form>
        <br>
        <form method="get" action="login.html"><a href="" class="button">Contact Us</a></form>
        <br>
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
        <button class="button" type="submit">Logout</button>
        </form>
        <br>
    </body>
</html>
