body {
    /* background-color: #DFCFBE; */
    background-color: #23272A;
}

h1 {
    font-family: 'Lato';
    color: white;
    padding-left: 110px;
    letter-spacing: 5px;
    padding-bottom: 5px;
    font-size: 50px;
    font-weight: 250;
}


form {

    padding-left: 110px;
}


.button {
    color: white;
    background: #2C2F33;
    border-radius: 10px;
    border-style: none;
    font-size: 17px;
    font-family: 'Lato';
    letter-spacing: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 300;
    min-width: 20rem;
    display: inline-block;
    text-decoration: none;
}

.button:hover, .button:active {
  background:#40444b;
}


#logo {
    padding-top: 100px;
    padding-left: 100px;
    width: 200px;
}
