body {
    background-color: #23272A;
}

h1 {
    font-family: 'Lato';
    color: white;
    padding-left: 110px;
    letter-spacing: 5px;
    padding-bottom: 5px;
    font-size: 80px;
    font-weight: 250;
}


#logo {
    padding-top: 100px;
    width: 170px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.form-area{
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Lato';
    font-weight: 300;
    width: 370px;
    color: white;

    padding: 40px;
}

h3 {
    font-family: 'Lato';
    margin: 0;
    padding: 20px 0 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.form-area p{
    font-family: 'Lato';
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: white;
}

.form-area input, select{
    margin-bottom: 20px;
    width:100%;
}

.form-area input[type=text],
.form-area input[type=password]{
    font-family: 'Lato';
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 20px;
    color:white;
    display: 16px;
}

.form-area input[type=submit]{
    font-family: 'Lato';
    border: none;
    height: 40px;
    outline: none;
    color: white;
    background: #2C2F33;
    border-radius: 10px;
    font-size: 15px;
    /* border: 1px solid black; */
    letter-spacing: 4px;
    cursor: pointer;
}

.form-area input[type=submit]:hover,
.form-area input[type=submit]:active
{
    color: white;
    background:rgba(0, 0, 0, 0.2);
}

.form-area a{
    color:#b0b2b5;;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.form-area a:hover{
    color:white;
}

.form-area input[type=checkbox]{
    width: 10%;
}

label {
    position: relative;
    display:inline;
}

#message {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    height: 20px;
}

#showpass {
    width: 50%;
}

#togglepw {
    display: inline-block;
}

#newuser {
    display: block;
    text-align: center;
}

.helptext {
    font-size: 0;
}

.errorlist {
    font-weight: bold;
    color: red;
}

#signupThing:hover, #signupThing:active {
    /* color:black; */
    /* background:rgba(0, 0, 0, 0.2); */
    background:#40444b;
  }