body {
    background-color: #23272A;
    color: white;
    font-family: 'Lato';
}

h1 {
    font-size: 2em;
    padding: 1em; 
    letter-spacing: 5px;   
}

.header {
    font-size: 1.5em;
    text-align: left;
}

#userdata {
    /* padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 5px;
    padding-bottom: 5px; */
    width: 90%;
    /* border: solid black 1px; */
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #b0b2b5;
    text-align: center;
    /* padding-left: 1.5em;
    padding-right: 1.5em; */
    padding: 1.5em;
    text-decoration: none;
    letter-spacing: 2.5px; 
    margin-top:auto;
}

li a:hover {
    color: white;
    background-color: #40444b;
    
  }

#image {
    background-color: transparent;
    padding: .5em;
}