body {
    background-color: #23272A;
    color: white;
    font-family: 'Lato';
}

h1 {
    font-size: 2em;
    padding: 1em; 
    letter-spacing: 5px;   
}

.header {
    font-size: 1.5em;
    text-align: left;
}

#userdata {
    /* padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 5px;
    padding-bottom: 5px; */
    width: 90%;
    /* border: solid black 1px; */
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #b0b2b5;
    text-align: center;
    /* padding-left: 1.5em;
    padding-right: 1.5em; */
    padding: 1.5em;
    text-decoration: none;
    letter-spacing: 2.5px; 
    margin-top:auto;
}

li a:hover {
    color: white;
    background-color: #40444b;
    
  }

#image {
    background-color: transparent;
    padding: .5em;
}

input[type=text] {
    font-family: 'Lato';
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 20px;
    color:white;
    display: 32px;
    /* font-size: 32px; */

}

input[type=submit]:hover, input[type=submit]:active {
    background:#40444b;
}

input[type=submit]{
    font-family: 'Lato';
    border: none;
    height: 40px;
    outline: none;
    color: white;
    background: #2C2F33;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 1rem;
    letter-spacing: 4px;
    cursor: pointer;
}

#id_account, #id_account_password {
    margin-bottom: 1em;
    display: block;
    width:50%;
    height: 25px;
}

.new_entry{
    /* margin-top: 2em; */
    /* position: absolute; */
    /* top: 500px; */
    left: 50%;
    /* transform: translate(-50%,-50%); */
    font-family: 'Lato';
    font-weight: 300;
    width: 370px;
    color: white;
    /* padding: 40px; */
}

.account_name {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}
.password_name {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}

#showpass {
    display:inline;
}