body {
    background-color: #23272A;
    color: white;
    font-family: 'Lato';
}

h1 {
    font-size: 2em;
    padding: 1em; 
    letter-spacing: 5px;   
}

.header {
    font-size: 1.5em;
    text-align: left;
}

#userdata {
    /* padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 5px;
    padding-bottom: 5px; */
    width: 90%;
    /* border: solid black 1px; */
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #b0b2b5;
    text-align: center;
    /* padding-left: 1.5em;
    padding-right: 1.5em; */
    padding: 1.5em;
    text-decoration: none;
    letter-spacing: 2.5px; 
    margin-top:auto;
}

li a:hover {
    color: white;
    background-color: #40444b;
    
  }

#image {
    background-color: transparent;
    padding: .5em;
}

input[type=text] {
    font-family: 'Lato';
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 20px;
    color:white;
    display: 32px;
    /* font-size: 32px; */

}

input[type=submit]:hover, input[type=submit]:active {
    background:#40444b;
}

input[type=submit]{
    font-family: 'Lato';
    border: none;
    height: 40px;
    outline: none;
    color: white;
    background: #2C2F33;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 1rem;
    letter-spacing: 4px;
    cursor: pointer;
}

#id_account, #id_account_password {
    margin-bottom: 1em;
    display: block;
    width:50%;
    height: 25px;
}

.new_entry{
    /* margin-top: 2em; */
    /* position: absolute; */
    /* top: 500px; */
    left: 50%;
    /* transform: translate(-50%,-50%); */
    font-family: 'Lato';
    font-weight: 300;
    width: 370px;
    color: white;
    /* padding: 40px; */
}

.account_name {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}
.password_name {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}

#showpass {
    display:inline;
}
#password_hide{
    visibility: hidden;
}

/*-------------------------bigass button-------------------------*/
.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}
.btn:focus {
    outline: 2px dotted #55d7dc;
}
