body {
    background-color: #DFCFBE;
}

/* Set font to page */
html {
    font-family: "Open Sans";
}

/* Stacks form items on top each other */
input {
    display: block;
}

/* Makes "Show Password" appear to the right of the checkbox*/
#togglepw {
    display: inline-block;
}

/* Input bar size settings */
#username, #password {
    width: 20em;
    height: 1.5em;
    font-size: 1em;
}

/* Center Login Page Vertically and Horizontally */
body, html {
    height: 100%;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    max-width: 15%;
    border-radius: 25px;
}